@import url('https://fonts.googleapis.com/css?family=Roboto|Cabin&display=swap');

body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    background-color: white;
}

.navbar {
    background-color: purple;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 4px -1px;
}

.navstyle {
    overflow: auto;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.innernav {
    overflow: auto;
    margin-top: 27.5px;
    margin-left: auto;
    margin-right: 0;
    float: right;
}

.navbar img {
    height: 80px;
    top: 0;
    float: left;
    display: block;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 0px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    padding-top: 4px;
    font-size: 16pt;
    font-family: 'Cabin', sans-serif;
    overflow: hidden;
}

.navbar a:hover {
    color: black;
}

.navbar a.active {
    color: black;
}

.navbar .resIcon {
    display: none;
}

.content {
    max-width: 1440px;
    margin: auto;
    overflow: visible;
    height: auto;
    position: relative;
    top: 85px;
}

.title {
    overflow: auto;
    text-align: center;
}

.title h1 {
    font-family: 'Cabin', sans-serif;
    position: relative;
    overflow: hidden;
    color: purple;
}

.title h1:before {
    margin-left: -50%;
    text-align: right;
}

.slideshow {
    height: 500px;
}

.slideImgContainer {
    width: 45%; 
    position: relative;
    float: left;
    overflow: hidden;
    max-height: 100%;
}

.slides {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.slides img {
    display: block; 
    width: 100%;
    height: 100%;
}

.slideTxtContainer{
    width: 55%;
    height: 100%;
    position: relative;
    float: right;
}

.slideText {
    display: block;
    width: 100%;
    height: auto;
    float: right;
    color: #5c005c;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.slideText h1 {
    font-size: 30pt;
    padding-left: 20px;
    padding-right: 20px;
}

.slideText p {
    font-size: 20pt;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.buyBtn {
    cursor: pointer;
    background-color: purple;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    margin: 30px;
    font-size: 18pt;
    font-family: 'Cabin', sans-serif;
    color: white;
}

.buyBtn:hover {
    color: black;
}

.fullWidthBg{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    height: 100%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: lightgray;
    z-index: -1;
    box-shadow: inset 0px 11px 8px -10px, inset 0 -11px 8px -10px;
}

.prevSlide, .nextSlide {
    cursor: pointer;
    position: absolute; 
    top: 42%;
    padding: 10px;
    user-select: none;
    height: 20px;
    opacity: 50%;
}

.prevSlide:hover, .nextSlide:hover {
    opacity: 100%;
}

.nextSlide {
    right: 0;
}

.thumbcontainer {
    width: 367px;
    height: auto;
    margin: 0 auto;
    position: relative;
    bottom: 55px;
    overflow: auto;
}

.thumbcontainer img {
    cursor: pointer;
    height: 47px;
    padding-bottom: 5px;
    margin: 5px;
    margin-bottom: 0px;
    background-color: white;
    opacity: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.thumbcontainer img:hover {
    opacity: 100%;
}

.thumb.active {
    opacity: 100%;
}

.fade-in-transition {
    animation-name: fadeTransition;
    animation-duration: 0.5s;
}

@keyframes fadeTransition {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (max-width: 1341px) { /*Media query responsiveness for laptops and or large tablet screens (Docking the navbar in place)*/
    .innernav {
        float: right;
        margin-left: 0;
    }
    .slideshow {
        height: 440px;
    }
    .slideText h1 {
        font-size: 24pt;
    }
    .slideText p {
        font-size: 18pt;
    }
}

@media screen and (max-width: 900px) { /*Media query responsiveness for tablets or large phones (Shows a toggleable nav menu)*/
    .navbar{
        overflow: visible;
    }
    .innernav {
        position: absolute;
        background-color: purple;
        z-index: 11;
        left: 215px;
        top: 62px;
        width: 100%;
        border-radius: 0px 0px 0px 25px;
        padding-left: 20px;
    }
    .navbar a {
        display: none;
    }
    .navbar a.resIcon {
        float: right;
        display: block;
        position: absolute;
        top: 16px;
        right: 10px;
        z-index: 12;
    }
    .navbar a:last-child {
        padding-bottom: 20px;
    }
    .resIcon img {
        height: 50px;
    }
    .navbar.resNav a{
        float: none;
        display: block;
        text-align: left;
    }
    .slideshow {
        height: 500px;
    }
    .slideImgContainer {
        width: 100%;
    }
    .slideTxtContainer {
        width: 100%;
    }
    .buyBtn {
        display: none;
    }
}

@media screen and (max-width: 500px) { /*Media query responsiveness for tall screens such as mobile phones in vertical view*/
    .innernav {
        left: 0;
        border-radius: 0;
    }
    .thumbcontainer {
        display: none;
    }
    .slideshow {
        height: 300px;
    }
    .slideText h1 {
        font-size: 16pt;
    }
    .slideText p {
        font-size: 14pt;
    }
}

@media screen and (max-height: 400px) and (max-width: 877px) { /*Media query responsiveness for thin viewport such as a mobile phone in horizontal view*/
    .navbar {
        overflow: visible;
    }
    .navbar img {
        height: 75px;
    }
    .navbar a.resIcon {
        float: right;
        display: block;
        position: absolute;
        top: 15px;
        right: 10px;
        z-index: 12;
    }
    .navbar.resNav a{
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.resNav .innernav {
        display: block;
    }
    .resIcon img {
        height: 40px;
    }
    .innernav {
        display: none;
        position: absolute;
        background-color: purple;
        z-index: 11;
        left: 215px;
        width: 100%;
        height: 175px;
        border-radius: 0px 0px 0px 25px;
        padding-left: 20px;
        overflow-y: scroll;
        top: 57px;
    }
}
